<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/styles.css">
    <title>Leandro Gomez</title>

  </head>
  <body style="background-color: #f8f9fa;">
	<div class="container" id="app">

		<div class="row mt-4">
			<div class="col-4">
				<div class="card text-center">
				  <img class="card-img-top rounded-circle img-thumbnail" width="150" src="./src/img/profile.jpg" alt="Leandro Gomez">
				  <div class="card-body">
				    <h5 class="card-title">Leandro Gomez</h5>
				    <h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
				    <h6 class="card-subtitle mb-2 text-muted">Guayaquil, Ecuador</h6>
				    <a href="#contact-form" @click="focusElement($event, 'fullNameInput')" class="btn btn-outline-info">Contact</a>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<span class="text-center">
					<h1>Leandro Gomez</h1>
					<h3 class="text-muted">Full Stack Sofware Developer</h3>
				</span>
				<br/>
				<span style="font-size: 20px;">
					<p>
						Hello there, I'm a software developer at <a target="__blank" href="https://devartis.com/">devartis SA</a>, but ready to start your project!
						I have several years of experience in Backend development with <a href="https://www.djangoproject.com/" target="__blank">Django</a>, <a href="https://www.ansible.com/" target="__blank">Ansible</a> and <a href="https://www.docker.com/" target="__blank">Docker</a>.
						Whenever I can, I like learning some cloud techologies like <a href="https://kubernetes.io/" target="__blank">Kubernetes</a> and <a href="https://aws.amazon.com/" target="__blank">AWS</a>.
					</p>
					<p>
						In my free time I like playing the guitar and travelling.
						My perfect place in the world is with my wife, my guitar and some Fernet at the beach.
					</p>
					<p>
						Don't hesitate to reach me out if you have any ideas We can work together.
					</p>
				</span>
			</div>
		</div>
		<div class="dropdown-divider"></div>
		<div class="row mt-4">
			<div class="col-6">
				<table class="table table-hover">
				  <tbody>
				    <tr v-for="info in mainPersonalInformation" :key="mainPersonalInformation.indexOf(info)">
				      <td :style="info.style" class="text-center" scope="row"><i v-if="info.icon" :class="info.icon"></i>{{info.title}}</td>
				      <td class="align-middle">
				      	<a v-if="info.href" :href="info.href" target="__blank">{{info.text}}</a>
				      	<span v-if="!info.href">{{info.text}}</span>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<div class="col-6">
				<table class="table table-hover">
				  <tbody>
				    <tr v-for="info in extraPersonalInformation" :key="extraPersonalInformation.indexOf(info)">
				      <td :style="info.style" class="text-center" scope="row"><i v-if="info.icon" :class="info.icon"></i>{{info.title}}</td>
				      <td class="align-middle">
				      	<a v-if="info.href" :href="info.href" target="__blank">{{info.text}}</a>
				      	<span v-if="!info.href">{{info.text}}</span>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		<div class="dropdown-divider"></div>
		<div class="row mt-4">

			<div class="col-4" v-for="skillGroup in skillGroups">
				<h5 class="text-center">{{ skillGroup.title }}</h5>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item" v-for="skill in skillGroup.skills">
				  	{{skill.title}}
				  	<div class="progress">
						  <div :class="['progress-bar', 'progress-bar-striped', 'progress-bar-animated', skillGroup.progressClass]" role="progressbar" :style="{ width: skill.value + '%' }" :aria-valuenow="skill.value" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
				  </li>
				</ul>
			</div>
			<div class="col text-center">
				<button type="button" class="btn btn-link" @click="toogleSkillGroupsDesctions">Read more...</button>
				<transition name="fade">
					<span v-show="showSkillGroupsDescriptions">
						<span v-for="skillGroup in skillGroups">
							<h5 class="text-center">{{ skillGroup.title }}</h5>
							<p style="white-space: pre-line;" class="test-justify">{{ skillGroup.description }}</p>
						</span>
					</span>
				</transition>
				<transition name="fade">
					<button v-show="showSkillGroupsDescriptions" type="button" class="btn btn-link" @click="toogleSkillGroupsDesctions">Show less</button>
				</transition>
			</div>

		</div>

		<div class="dropdown-divider"></div>

		<div class="row mt-4">
			<div class="col-8 offset-2" id="contact-form">
				<span class="text-center">
				<h2 class="text-center">Contact me!</h2>
				<form action="https://formspree.io/f/xzbyrlrg" method="POST">
					<div class="form-group">
						<label for="full_name">Your name</label>
					  <input ref="fullNameInput" placeholder="Jonh Smith" type="text" class="form-control" name="fullName">
					</div>

					<div class="form-group">
						<label for="_replyto">Your email</label>
					  <input placeholder="your_email@example.com" type="email" class="form-control" name="_replyto">
					</div>

					<div class="form-group">
						<label for="message">Your message</label>
						<textarea placeholder="Let me know how I can help you" class="form-control"  name="message"></textarea>
					</div>

				  <!-- your other form fields go here -->

				  <button type="submit" class="btn btn-info mb-2">Send</button>
				</form>
				</span>

			</div>
		</div>
	</div>


  <!-- production version, optimized for size and speed -->
	<script type="text/javascript" src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"></script>
	<script type="text/javascript"  src="src/js/index.js"></script>

  </body>
</html>